* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; /*El borde se ajusta al tamaño*/
}

body {
  background-color: #d9eaf2;
  font-family: "montserrat", sans-serif;
}

#container {
  width: 100%;
}

header {
  width: 100%;
  height: 70px;
  background-color: #738bde;
  padding: 0px 30px 0px 20px;
}

nav {
  width: 100%;
  height: 100%;
}

#home {
  float: left;
  display: inline-block;
}

#home a{
  color:#f6f9f7;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

#home div  {
  padding: 23px 18px 23px 16px;
  font-size: 18px;
}

#home div:hover {
  background-color: #1e1399;
  border-bottom: 3px solid #f6f9f7;
}

nav ul{
  float: right; /*Alinear los elementos a la derecha*/
}

/*nav ul a*/
.menu-option  {
  padding: 25.5px 13px;
  float:left;/*Para que queden en el orden en el que fueron escritos*/
  list-style: none;
  display: inline-block;
  text-decoration: none;
}

nav ul a li {
  color:#f6f9f7;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.2px;
}

nav ul a:hover {
  background-color: #1e1399;
  border-bottom: 3px solid #f6f9f7;
}

/*CONTENIDO*/

#content {
  position: absolute;
  margin: 40px 60px 40px 60px;
}

section {
  display: block;
  float:left;
  width: 67%;
  box-sizing: border-box; /*Si pongo un padding lo aplica dentro, no cambia las dimensiones*/
}

section p {
  text-align: justify;
  padding: 30px 8% 5% 0;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 1.3;
}

.name {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 8px;
  padding: 20px 20px 30px 0px;
  animation: text 2s 1;
}

.profession {
  font-size: 35px;
  letter-spacing: 1.5px;
  padding: 0px 20px 20px 0px;
}

@keyframes text {
  0% {
    color: #d9eaf2; /*Añadir opacidad al fondo*/
    margin-bottom: -90px;
  }
  25% {
    color: #d9eaf2;
    letter-spacing: 1px;
  }
  85% {
    letter-spacing: 8px;
  }
}

section .valores h1 {
  font-size: 35px;
  letter-spacing: 2px;
}

section .valores i {
  text-decoration: none;
  font-size: 20px;
  padding: 20px 30px 20px 0px;
}

/*PARTE DERECHA DE LA WEB*/

aside {
  float: right;
  padding-left: 10px;
  /*text-align: center;*/
  width: 33%;
  box-sizing: border-box;
}

aside img {
  margin: 0 15% 10% 15%;
  width: 68%;
  height: auto;
}


.skills {
  color: black;
  padding: 20px 10px 20px 10px;
  width: 100%;
}

.skills h2 {
  letter-spacing: 2px;
  padding: 0px 0px 5px 0px;
  font-weight: 400;
  text-transform: uppercase;
}

.skills h3 {
  padding-top: 20px;
}

/*BARRA DE HABILIDADES*/
.bar {
  /*margin*/
  background-color: #ede3f0;
  display: block;
  height: 7px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px white;
}

/*BARRA DE PROGRESO*/
.bar span {
  float: left;
  height: 6px;
  background-color: #7a78e7;
}

.html {
  width: 80%;
  animation: html 4s;
}

@keyframes html {
  0% { width: 0%; }
  100% { width: 80%; }
}

.css {
  width: 85%;
  animation: css 4s;
}

@keyframes css {
  0% { width: 0%; }
  100% { width: 85%; }
}

.javas {
  width: 95%;
  animation: javas 4s;
}

@keyframes javas {
  0% { width: 0%; }
  100% { width: 95%; }
}

.php {
  width: 75%;
  animation: php 4s;
}

@keyframes php {
  0% { width: 0%; }
  100% { width: 75%; }
}

.sql {
  width: 79%;
  animation: sql 4s;
}

@keyframes sql {
  0% { width: 0%; }
  100% { width: 79%; }
}

.cpp {
  width: 75%;
  animation: cpp 4s;
}

@keyframes cpp {
  0% { width: 0%; }
  100% { width: 75%; }
}

/*PARA QUE CONTENT SEA RESPONSIVO*/
/*Cuando el tamaño de pantalla es screen y el ancho maximo es 600px*/
@media screen and (max-width: 600px) {

  section {
    width: 100%;
    box-sizing: border-box;
  }

  aside {
    /*text-align: center;*/
    margin: 30px 0px;
    width: 100%;
    box-sizing: border-box;
  }

  aside img {
    float: left;
    margin: 0px 15px 0px 0px;
    width: 25%;
    height: auto;
  }

  .skills {
    float: right;
    padding: 0 40px 0 0;
    width: 70%;
  }

}
