* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; /*El borde se ajusta al tamaño*/
}

body {
  background-color: #d9eaf2;
  font-family: "montserrat", sans-serif;
}

#container {
  width: 100%;
}

header {
  width: 100%;
  height: 70px;
  background-color: #738bde;
  padding: 0px 30px 0px 20px;
}

nav {
  width: 100%;
  height: 100%;
}

#home {
  float: left;
  display: inline-block;
}

#home a{
  color:#f6f9f7;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

#home div  {
  padding: 23px 18px 23px 16px;
  font-size: 18px;
}

#home div:hover {
  background-color: #1e1399;
  border-bottom: 3px solid #f6f9f7;
}

nav ul{
  float: right; /*Alinear los elementos a la derecha*/
}

/*nav ul a*/
.menu-option  {
  padding: 25.5px 13px;
  float:left;/*Para que queden en el orden en el que fueron escritos*/
  list-style: none;
  display: inline-block;
  text-decoration: none;
}

nav ul a li {
  color:#f6f9f7;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.2px;
}

nav ul a:hover {
  background-color: #1e1399;
  border-bottom: 3px solid #f6f9f7;
}

#content {
  position: absolute;
  margin: 20px 30px 20px 30px;
  border: 5px solid black;
}

section {
  float:left;
  width: 67%;
  background-color: #255947;
  box-sizing: border-box; /*Si pongo un padding lo aplica dentro, no cambia las dimensiones*/
}

.name {
  padding: 20px;
}



aside {
  float: right;
  /*text-align: center;*/
  width: 33%;
  background-color: #3dc15e;
  box-sizing: border-box;
}

aside img {
  margin: 20px;
  width: 68%;
  height: auto;
}

.barprogress {
  padding: 10px;
  width: 100%;
  border: 2px solid green;
}

.bar {
  /*margin*/
  background-color: #ede3f0;
  display: block;
  height: 7px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px white;
}

.valores {
}

/*PARA QUE CONTENT SEA RESPONSIVO*/
/*Cuando el tamaño de pantalla es screen y el ancho maximo es 600px*/
@media screen and (max-width: 600px) {

  section {
    width: 100%;
    background-color: #255947;
    box-sizing: border-box;
  }

  aside {
    overflow: hidden;
    /*text-align: center;*/
    width: 100%;
    background-color: #3dc15e;
    box-sizing: border-box;
  }

  aside img {
    float: left;
    margin: 10px;
    width: 25%;
    height: auto;
  }

  .barprogress {
    float: right;
    width: 70%;
    background-color: white;
  }

}
